.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-section {
  background-color: pink;
  width: 150px;
}
.middle-section {
  background-color: aqua;
  flex: 1;
  max-width: 500px;
  margin-left: 70px;
  margin-right: 35px;
}
.right-section {
  background-color: aquamarine;
  width: 200px;
}
