.form-first {
    display: inline-block;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid grey;
    width: 145px;
}
.form-email {
    display: block;
    margin-top: 10px;
    width: 320px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid grey;
}
.form-btn {
    padding: 15px;
    border-radius: 10px;
    border: none;
    width: 345px;
    background-color: rgb(91, 91, 243);
    color: white;
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
}